body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:477px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:97px;
  top:40px;
  width:380px;
  height:750px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:750px;
}
#u1 {
  position:absolute;
  left:2px;
  top:367px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:133px;
  top:160px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:255px;
  top:206px;
  width:66px;
  height:13px;
  font-size:11px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u5 {
  position:absolute;
  left:2px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:130px;
  top:188px;
  width:316px;
  height:463px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:463px;
}
#u7 {
  position:absolute;
  left:2px;
  top:224px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:133px;
  top:175px;
  width:308px;
  height:13px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:130px;
  top:192px;
  width:316px;
  height:41px;
  font-size:12px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:41px;
}
#u11 {
  position:absolute;
  left:2px;
  top:13px;
  width:312px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:138px;
  top:202px;
  width:25px;
  height:19px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:19px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:134px;
  top:238px;
  width:308px;
  height:72px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:72px;
}
#u15 {
  position:absolute;
  left:2px;
  top:28px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:134px;
  top:316px;
  width:308px;
  height:72px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:72px;
}
#u17 {
  position:absolute;
  left:2px;
  top:28px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:134px;
  top:394px;
  width:308px;
  height:72px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:72px;
}
#u19 {
  position:absolute;
  left:2px;
  top:28px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:138px;
  top:242px;
  width:82px;
  height:63px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:63px;
}
#u21 {
  position:absolute;
  left:2px;
  top:24px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:230px;
  top:243px;
  width:200px;
  height:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:240px;
  top:264px;
  width:120px;
  height:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:240px;
  top:285px;
  width:70px;
  height:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:367px;
  top:285px;
  width:70px;
  height:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
